@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen:300,400,700');

:root{
  --navcolour: #4a576a;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Oxygen';
  color: #3e3e3e;
  font-weight: 400;
}

#topbar{
  background-color: var(--navcolour);
  background-image: none;
  border: 0px;
  font-weight: 300;
}

#underbar {
  background-color: #eee;
  background-image: none;
  margin-top: -20px;
  margin-left: -30px;
  border: 0px;
  color: var(--navcolour);
}

#underbar a:hover {
  color: var(--navcolour);
}

#offerphoto {
  width: 242px;
  height: 200px;
  border-radius: 10px;
  transition: 1s;
  margin-top: 20px;
}

#offerTitle  {
  width: 312px;
  height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#profileIcon {
  margin-top: -2px;
  padding: 0px;
  width: 22px;
  height: 22px;
  border-radius: 20px;
}

#pointsIcon {
  margin-top:14px;
}

#nuSTitle {
  margin-top: 0px;
  font-size: 16px;
}

#content {
  margin-top: -20px;
}

#chatBox{
  overflow-y:auto;
  width: auto;
  height: 318px;
}

#amount {
  font-color: green;
}

#modalTitle {
  font-size: 16px;
  font-weight: bold;
  display: inline;
}

.dinline {
  margin: 0;
  padding: 0;
  display: inline;
}

.padded-multiline {
  line-height: 1.3;
  padding: 2px 0;
  border-left: 20px solid #c0c;
  width: 400px;
  margin: 20px auto;
}

.message-bubble
{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) {
  background-color: #F5F5F5;
}

.message-bubble > *
{
    padding-left: 10px;
}

.panel-body
{
  padding: 0px;
}

.panel {
  border-radius: 5px;
}

label {
  font-weight: 300;
}

.panel-login {
   border: none;
  -webkit-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.35);
  -moz-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.35);
  box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.35);
}

.panel-login>.panel-heading .tabs{
  padding: 0;
}

.panel-login h2{
  font-size: 20px;
  font-weight: 300;
  margin: 30px;
}

.panel-login>.panel-heading {
  color: #848c9d;
  background-color: #e8e9ec;
  border-color: #fff;
  text-align:center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 0px;
  padding: 0px 15px;
}

.panel-login .form-group {
  padding: 0 30px;
}

.panel-login>.panel-heading .login {
  padding: 20px 30px;
  border-bottom-leftt-radius: 5px;
}

.panel-login>.panel-heading .register {
  padding: 20px 30px;
  background-color: var(--navcolour);
  border-bottom-right-radius: 5px;
}

.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-login>.panel-heading a#register-form-link {
  color: #fff;
  width: 100%;
  text-align: right;
}

.panel-login>.panel-heading a#login-form-link {
  width: 100%;
  text-align: left;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 0;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0px;
  padding: 6px 0px;
}

.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

.btn-login {
  background-color: #E8E9EC;
  outline: none;
  color: #2D3B55;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: var(--navcolour);
}

.btn-register {
  background-color: #E8E9EC;
  outline: none;
  color: #2D3B55;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: var(--navcolour);
}

.navbar {
  font-weight: 400;
}

.navbar-brand {
  transition: .5s;
  font-size: 24px;
  letter-spacing: 3px;
  color: #eee !important;
}

.navbar-brand:hover {
  transition: .5s;
  color: #ccc !important;
}

.navbar-nav a {
  font-size: 14px;
  letter-spacing: .5px;
  color: var(--navcolour) !important;
}

.navbar-right a {
  color: #eee !important;
}

.navbar-right a:hover {
  text-decoration: underline !important;
}

.offerButton {
  background-color: var(--navcolour);
  color: #eee;
  transition: .2s;
}
.offerButton:hover {
  color: #eee;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.underbarSpace {
  margin-left: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.profile-img {
	width: 32px;
	height: 32px;
	margin: 0 auto;
  display: inline;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.padding-top {
  padding-top: 10px;
}

.padding-left {
  padding-left: 15px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.noRButton {
  visibility: hidden;
}

.noRButton:hover + img {
  cursor:pointer;
  box-shadow: 0 0 12px #2d6aa0;
  transition: 0.3s;
}

.noRButton:checked + img {
  box-shadow: 0 0 12px #2d6aa0;
  transition: .3s;
}

.flip {
    -webkit-perspective: 800;
    width: 125px;
    height: 125px;
    position: relative;
    margin: 50px auto;
}

.flip .card.tails {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotatex(-2340deg); /* 2160 */
    transition: all 1s ease 0s;
}

.flip .card.heads {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotatex(-2160deg); /* 2160 */
    transition: all 1s ease 0s;
}

.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s;
}

.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.flip .card .front {
    position: absolute;
    z-index: 1;
    background-image: url("../img/coinroulette/headsb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.flip .card .back {
    -webkit-transform: rotatex(180deg);
    background-image: url("../img/coinroulette/tailsb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.panelHNew {
   background-image: none !important;
}

.noHeaderBar {
  padding-bottom: 0px;
  border-bottom: 0px;
}

.win {
  color:#27f05d;
}

.loss {
  color:#ee5521;
}

.uMargin-top{
  margin-top: 3px;
}

.pagination>li>a, .pagination>li>span {
  border-radius: 50% !important;
  margin: 0 5px;
}
